<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.4/cyborg/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.4/cyborg/bootstrap.css">
<script src="http://cdn.jsdelivr.net/bootstrap/3.3.4/js/bootstrap.js"></script>
<script src="http://cdn.jsdelivr.net/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://cdn.jsdelivr.net/bootstrap/3.3.4/js/npm.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.1/jquery.timeago.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.1/jquery.timeago.min.js"></script>
<script>
  $(function() {
        $('.table-hover tr').click(function() {
            window.document.location = $(this).data("href");
        });
  });
</script>
<script>
jQuery(document).ready(function() {
  jQuery("time.timeago").timeago();
});
</script>
<title>Twiket lita webchick</title>
<link rel="icon" type="image/png" href="https://www.lita.io/favicon.ico" />
</head>
  <body>
  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="https://lita.twiket.com" class="navbar-brand">Lita.io</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
   </div>

      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12 col-lg-offset-0">
            <div class="page-header">
              <h1 id="tables">Environments</h1>
            </div>
          <div class="col-lg-9 col-lg-offset-1">
            <div class="bs-component">
              <table class="table table-striped table-hover ">
                <thead>
                  <tr data-href='#'>
                    <th>Environment</th>
                    <th>Last deploy</th>
                    <th>Claimed</th>
                  </tr>
                </thead>
                <tbody>
                  <% @variables[:envs].each do |env,params| %>
		  <% color = 'active' %>
		  <% color = 'success' if env =~ /production|staging/ %>
		  <% color = 'warning' if params['claimer'] %>
		  <tr data-href='<%= env %>/current' class="<%=color%>">
		    <td><%= env %></td>
		    <td><%= params['project'] %> <time class="timeago" datetime="<%= Time.at(params["timestamp"]) %>"></time></td>
		    <td><%= params['claimer'] %></td>
		  </tr>
                  <% end %>
                </tbody>
              </table> 
            </div>
          </div>
          <div class="col-lg-12 col-lg-offset-0">
            <div class="page-header">
              <h1 id="logss">Ops logs</h1>
            </div>
            <div class="bs-component">
              <table class="table table-striped table-hover ">
                <thead>
                  <tr data-href='#'>
                    <th>Time</th>
                    <th>Awesome Admin</th>
                    <th>Message</th>
                  </tr>
                </thead>
                <tbody>
                <% @variables[:ops_log].reverse.each do |log| %>
                <tr data-href='#'>
		  <td><time class="timeago" datetime="<%= Time.at(log["timestamp"]) %>"/></td>
                  <td><%= log["user"] %></td>
                  <td><%= log["msg"] %></td>
                </tr>
                <% end if @variables[:ops_log]%>
                </tbody>
              </table>
         </div>
        </div>
      </div>
   </div>
  </body>
</html>
